<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shrey.ubs_trade_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TradeTypeSelectionActivity" />
        <activity android:name=".BankInfoActivity" />
        <activity android:name=".BankInfoAddedSuccessActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".BorrowActivity" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity android:name=".sellActivity" />
        <activity android:name=".ExchangeOfferSubmittedActivity" />
        <activity android:name=".ExchangeBuyerSideActivity" />
        <activity android:name=".ExchangeSellerConformation" />
        <activity android:name=".PasswordResetLinkSentConformationActivity" />
        <activity android:name=".ExchangeSellerSideActivity" />
        <activity android:name=".PasswordRetrivalActivity"></activity>
    </application>

</manifest>